html {
    box-sizing: border-box;
    font-size: 62.5%;
}
:root {
    --blanco: #ffffff;
    --negro: #000000;
    --Grey: #a9a9a9;
    --grafito: #333333;
    --Darkgrey: #696969;
    --Lightgrey: #cccccc;
    --Amethyst: #9966cc;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 3.2rem;
}

h4 {
    font-size: 1.2rem;
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.bold {
    font-weight: 700;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.user {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border: 1px solid var(--Lightgrey);
    padding: 2rem;
}
.info-user {
    display: flex;
    justify-content: space-between;
}
.user-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.info-user__text {
    padding: 0;
}
.title-user {
    font-size: 1.6rem;
    color: var(--Darkgrey);
    padding: 0 0 0 1rem;
    margin: 0;
}
.text-user {
    font-size: 1.2rem;
    color: var(--Grey);
    padding: 0 0 0.5rem 1rem;
    margin: 0;
}
.text-user--ms {
    font-size: 1.4rem;
    color: var(--grafito);
    padding: 0 0 0.5rem 1rem;
    margin: 0;
}
.icon-user {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.boton-chat {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    border: 1px solid var(--Lightgrey);
}
.boton {
    display: block;
    background-color: var(--Amethyst);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    margin: 2.2rem;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 700;
    border: none;
}

.user-chat {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border: 1px solid var(--Lightgrey);
    padding: 2rem;
}
.contenido {
    display: flex;
    flex-direction: column; /* Apila los elementos en una columna */
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.logo {
    background-color: var(--Amethyst);
    width: 20rem;
    height: 20rem;
    border-radius: 0.4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.text-logo {
    text-align: center;
    width: 50%;
}
/** Responsive **/

@media (min-width: 768px) {
    .con-sidebar {
        display: flex;
        gap: 2rem;
    }
    aside {
        flex: 1;
    }
    article {
        flex: 3;
    }
}